<!DOCTYPE html>
<html>
<head>
<title>工厂详情</title>
	<meta charset="UTF-8"/>
	<link href="../css/home.css" rel="stylesheet" type="text/css">
	<link href="../css/details_order.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.11.0.min.js"></script>
	<script src="../js/home.js"></script>
</head>
<body>
	<div id="body"></div>
	<!--start-header-->
	<div id="home" class="header">
		<div class="header2">
			<!--logo-->
			<div class="logo">
				<a href="index.html"><img src="../images/logo.png" alt=""></a>
			</div>
			<!--登录注册-->
			<div class="top-nav">
				<ul>
					<li class="active"><a id="login_a" class="play-icon popup-with-zoom-anim" href="#small-dialog"><span> </span>登 录</a></li>
					<li><a id="signup_a" class="play-icon popup-with-zoom-anim" href="#small-dialog1">注 册</a></li>
				</ul>
			</div>
			<div class="navgation">
				<div class="menu">
					<a class="toggleMenu" href="#"><img src="../images/menu-icon.png" alt="" /> </a>
					<ul class="nav" id="nav">
						<li><a href="index.html">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
						<li><a href="order.html">订单中心</a></li>
						<li><a id="now" href="plant.html">工厂中心</a></li>
						<li><a href="personage.html">个人中心</a></li>
						<li><a href="about.html">关于我们</a></li>
					</ul>
				</div>
				<div class="search2">
					<form action="" method="post">
						<input type="text" name="search" value="" placeholder="Search..."/>
						<input type="submit" value="">
					</form>
				</div>
			</div>
		</div>
		<div id="small-dialog1" class="mfp-hide">
			<div class="signup">
				<h3>注册</h3>
				<h4>请输入注册信息</h4>
				<form action="" method="post">
					<input type="text" name="pn" value="" placeholder="请输入手机号"  pattern="1[3578]\d{9}" required />
					<input type="password" name="password" value="" placeholder="请输入密码,6-16位字母或数字组成" pattern="[\dA-Za-z]{6,16}" required />
					<input type="password" name="password2" value="" placeholder="请再次输入密码"/>
					<input type="submit"  value="注册"/>
				</form>
			</div>
		</div>
		<div class="navgation">
			<div class="menu">
				<a class="toggleMenu" href="#"><img src="../images/menu-icon.png" alt="" /> </a>
				<ul class="nav">
					<li><a href="index.html">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
					<li><a href="about.html">关于我们</a></li>
					<li><a href="order.html">订单中心</a></li>
					<li><a href="plant.html">工厂中心</a></li>
					<li><a href="personage.html">个人中心</a></li>
				</ul>
			</div>
			<div class="search2">
				<form action="" method="post">
					<input type="text" value="" placeholder="Search..."/>
					<input type="submit" value="">
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="contact">
		<div class="center">
			<div id="left">
				<!--工厂详情-->
				<div>
					<h4>东莞市佛灵服饰有限公司</h4>
					<span>发布日期：2018-11-13</span> <span>在线时间23天</span>
				</div>
				<div>
					<p><img src="../images/factory/factory01.jpg"></p>
					<a href="#"><img src="../images/factory/factory01.jpg"></a>
					<!--<a href="#"><img src="../images/yi1.jpg"></a>-->
					<!--<a href="#"><img src="../images/yi2.jpg"></a>-->
					<!--<a href="#"><img src="../images/yi3.jpg"></a>-->
				</div>
				<div>
					<h4>工厂简介</h4>
					<ul>
						<li>工厂类型：&nbsp;&nbsp;&nbsp;&nbsp;小作坊</li>
						<li>工厂类别：&nbsp;&nbsp;&nbsp;&nbsp;梭织</li>
						<li>工厂规模：&nbsp;&nbsp;&nbsp;&nbsp;15人</li>
						<li>注册资金：&nbsp;&nbsp;&nbsp;&nbsp;10万</li>
						<li>接单类型：&nbsp;&nbsp;&nbsp;&nbsp;清加工/包工包料</li>
						<li>生产档期：&nbsp;&nbsp;&nbsp;&nbsp;有档期</li>
						<li>工厂地区：&nbsp;&nbsp;&nbsp;&nbsp;广东省——东莞市</li>
						<li>详细地址：&nbsp;&nbsp;&nbsp;&nbsp;东莞虎门炮台斜对面</li>
						<li>联系电话：&nbsp;&nbsp;&nbsp;&nbsp;	134********（林超龙）</li>
					</ul>
				</div>
				<p id="tishi">温馨提示：如工厂无档期，请及时更新信息，谢谢合作</p>
			</div>
			<div id="right">
				<h4> 工厂方信息</h4>
				<h5>林超龙</h5>
				<p>主营行业：包工包料/清加工</p>
				<p>主要产品：梭织服装</p>
				<p>所在地区：广东省东莞市</p>
				<h5>联系信息</h5>
				<p>134********</p>
			</div>
			<div id="help">
				<span>找到工厂，选择工厂</span> >>
				<span>查看工厂联系方式</span> >>
				<span>双方洽谈达成意向</span>
				<p>请确定工厂符合您的预期，以提升发单成功的几率</p>
			</div>
			<div id="bottom">
				<!--详情大图-->
				<img src="../images/factory/factory01.jpg">
				<img src="../images/factory/factory03.jpg">
				<img src="../images/factory/factory02.jpg">
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="footer-text">
				<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="#" >服源网</a> - Collect from </p>
			</div>
		</div>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
     </div>
</body>
</html>