<!DOCTYPE html>
<html>
<head>
	<title>个人中心</title>
	<meta charset="UTF-8"/>
	<link href="../css/home.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.11.0.min.js"></script>
	<script src="../js/home.js"></script>
</head>
<body>
<div id="body"></div>
<!--start-header-->
<div id="home" class="header">

	<div class="top-header">
		<div class="container">
			<div class="logo">
				<a href="index.html"><img src="../images/logo.png" alt=""></a>
			</div>
			<!--start-top-nav-->
			<div class="top-nav">
				<ul>
					<li class="active"><a id="login_a" class="play-icon popup-with-zoom-anim" href="#small-dialog"><span> </span>登 录</a></li>
					<li><a id="signup_a" class="play-icon popup-with-zoom-anim" href="#small-dialog1">注 册</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

	<!---登录框---->
	<div id="small-dialog" class="mfp-hide">
		<div class="login">
			<h3>登录</h3>
			<h4>请输入帐号密码</h4>
			<form action="" method="post">
				<input type="text" name="pn" value="" placeholder="请输入手机号" pattern="1[3578]\d{9}" required/>
				<input type="password" name="password" value="" placeholder="请输入密码" pattern="[\dA-Za-z]{6,16}" required/>
				<input type="submit" value="登录" />
			</form>
		</div>
	</div>

	<!--注册框-->
	<div id="small-dialog1" class="mfp-hide">
		<div class="signup">
			<h3>注册</h3>
			<h4 id="h4_info">请输入注册信息</h4>
			<form action="" method="post">
				<input type="text" name="pn" value="" placeholder="请输入手机号"  pattern="1[3578]\d{9}" required />
				<input id="pas1" type="password" name="password" value="" placeholder="请输入密码,6-16位字母或数字组成" pattern="[\dA-Za-z]{6,16}" required />
				<input id="pas2" type="password" name="password2" value="" placeholder="请再次输入密码"/>
				<input id="signup_button" type="submit"  value="注册"/>
			</form>
		</div>
	</div>

	<!--End-header-->
	<div class="navgation">
		<div class="menu">
			<a class="toggleMenu" href="#"><img src="../images/menu-icon.png" alt="" /> </a>
			<ul class="nav" id="nav">
				<li><a href="index.html">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
				<li><a href="order.html">订单中心</a></li>
				<li><a href="plant.html">工厂中心</a></li>
				<li><a id="now" href="personage.html">个人中心</a></li>
				<li><a href="about.html">关于我们</a></li>
			</ul>
		</div>
		<div class="search2">
			<form action="" method="post">
				<input type="text" value="" placeholder="Search..."/>
				<input type="submit" value="">
			</form>
		</div>
		<div class="clearfix"> </div>
	</div>

</div>

<!--starts-blog-->
<div class="contact">
	<div class="center">


	</div>
</div>
<!--end-blog-->
<div class="footer">
	<div class="container">
		<div class="footer-text">
			<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="#" >服源网</a> - Collect from </p>
		</div>
	</div>
	<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>
</body>
</html>