<!DOCTYPE html>
<html>
<head>
	<title>工厂中心</title>
	<meta charset="UTF-8"/>
	<link href="../css/home.css" rel="stylesheet" type="text/css">
	<link href="../css/plant.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.11.0.min.js"></script>
	<script src="../js/home.js"></script>
</head>
<body>
<div id="body"></div>
<!--start-header-->
<div id="home" class="header">

	<!--<div class="top-header">-->
	<!--<div class="container">-->
	<div class="header2">
		<!--logo-->
		<div class="logo">
			<a href="index.html"><img src="../images/logo.png" alt=""></a>
		</div>
		<!--登录注册-->
		<div class="top-nav">
			<ul>
                                <li class="active"><a id="login_a" class="play-icon popup-with-zoom-anim" href="#small-dialog">登 录</a></li>
				<li><a id="signup_a" class="play-icon popup-with-zoom-anim" href="#small-dialog1">注 册</a></li>
			</ul>
		</div>
		<div class="navgation">
			<div class="menu">
				<a class="toggleMenu" href="#"><img src="../images/menu-icon.png" alt="" /> </a>
				<ul class="nav" id="nav">
					<li><a href="index.html">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
					<li><a href="order.html">订单中心</a></li>
					<li><a id="now" href="plant.html">工厂中心</a></li>
					<li><a href="personage.html">个人中心</a></li>
					<li><a href="about.html">关于我们</a></li>
				</ul>
			</div>
			<div class="search2">
				<form action="" method="post">
					<input type="text" name="search" value="" placeholder="Search..."/>
					<input type="submit" value="">
				</form>
			</div>
		</div>
	</div>
	<!--</div>-->
	<!--</div>-->

        <script  src="../jQueryValidation/jquery-3.3.1.js"></script>
        <script  src="../jQueryValidation/jquery.validationEngine-zh_CN.js"></script>
        <script  src="../jQueryValidation/jquery.validationEngine.min.js"></script>
        <script  src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
        <script  src="../js/register.js"></script>
        <script  src="../js/login.js"></script>
	<!---登录框---->
	<div id="small-dialog" class="mfp-hide">
		<div class="login">
			<h3>登录</h3>
			<h4>请输入帐号密码</h4>
                <form data-th-action="@{/user/login}" method="post" id="login">
                    <input type="text" id="loginName" name="pn" value="" placeholder="请输入用户名" pattern="[\dA-Za-z]{3,10}" required/>
                    <input type="password" id="loginPwd" name="password" value="" placeholder="请输入密码" pattern="[\dA-Za-z]{6,16}" required/>
                    <button type="submit">登录</button>
			</form>
		</div>
	</div>

	<!--注册框-->
	<div id="small-dialog1" class="mfp-hide">
		<div class="signup">
			<h3>注册</h3>
			<h4 id="h4_info">请输入注册信息</h4>
                <form data-th-action="@{/user/register}" method="post" id="register">
                    <input type="text" id="pn" value="" placeholder="请输入手机号"  pattern="1[3578]\d{9}" required />
                    <input type="text" id="username" value="" placeholder="您的用户名，最少3个字母或数字，最长不超过10个哦" pattern="[\dA-Za-z]{3,10}" required>
				<input id="pas1" type="password" name="password" value="" placeholder="请输入密码,最少6个字母或数字，最长不超过18个哦" pattern="[\dA-Za-z]{6,18}" required />
				<input id="pas2" type="password" name="password2" value="" placeholder="请再次输入密码~" pattern="[\dA-Za-z]{6,18}" required/>
				<br>
				<button id="signup_button" type="submit">注册</button>
			</form>
		</div>
	</div>

	<!--End-header-->
</div>

<!--starts-blog-->
<div class="contact">
	<div id="center" class="center">

		<div id="choice">
			<ul>
				<li><a class="now" href="#">所以服装工厂</a></li>
				<li><a href="#">快工厂</a></li>
				<li><a href="#">小作坊</a></li>
			</ul>
			<ul>
				<li><h4>热门城市：</h4></li>
				<li><a class="now" href="#">全部</a></li>
				<li><a href="#">广州市</a></li>
				<li><a href="#">东莞市</a></li>
				<li><a href="#">深圳市</a></li>
				<li><a href="#">惠州市</a></li>
				<li><a href="#">珠海市</a></li>
				<li><a href="#">汕头市</a></li>
				<li><a href="#">佛山市</a></li>
				<li><a href="#">韶关市</a></li>
			</ul>
			<ul>
				<li><h4>工厂类别：</h4></li>
				<li><a class="now" href="#">全部</a></li>
				<li><a href="#">梭织服装</a></li>
				<li><a href="#">针织服装</a></li>
				<li><a href="#">毛衫服装</a></li>
				<li><a href="#">皮革服装</a></li>
				<li><a href="#">裘皮服装</a></li>
			</ul>
			<ul>
				<li><h4>产品类型：</h4></li>
				<li><a class="now" href="#">全部</a></li>
				<li><a href="#">清加工</a></li>
				<li><a href="#">包公包料</a></li>
				<li><a href="#">裁片外发</a></li>
			</ul>
			<ul>
				<li><h4>产品档次：</h4></li>
				<li><a class="now" href="#">全部</a></li>
				<li><a href="#">中低档</a></li>
				<li><a href="#">中高档</a></li>
				<li><a href="#">高档</a></li>
			</ul>

		</div>

		<div id="list">
			<ul id="plantList">
				<!--工厂列表-->
				<li>
					<div>
						<span><img src="../images/wW4DmyVMcG.jpg"/></span>
					</div>
					<div>
						<p><a href="details_plant.html" target="_self"> 东莞市佛灵服饰有限公司</a> <span>快工厂</span></p><br>
						<p>订单类型：清加工/包公包料</p>
						<p>生产类别：梭织服装、中低档</p>
					</div>
					<div>
						<p>工厂规模：100人以上</p>
						<p>发布日期：2018年11月11日</p>
					</div>
					<div>
						<input type="button" value="查看详情" />
						<p>广东省东莞市</p>
					</div>
				</li>
				<li>
					<div>
						<span><img src="../images/factory/factory10.jpg"/></span>
					</div>
					<div>
						<p><a href="details_plant.html" target="_self"> 云流服饰</a> <span>快工厂</span></p><br>
						<p>订单类型：清加工/包公包料</p>
						<p>生产类别：梭织服装、中低档</p>
					</div>
					<div>
						<p>工厂规模：100人以上</p>
						<p>发布日期：2018年11月11日</p>
					</div>
					<div>
						<input type="button" value="查看详情" />
						<p>广东省东莞市</p>
					</div>
				</li>
				<li>
					<div>
						<span><img src="../images/factory/factory02.jpg"/></span>
					</div>
					<div>
						<p><a href="details_plant.html" target="_self"> 依源制衣厂</a> <span>快工厂</span></p><br>
						<p>订单类型：清加工/包公包料</p>
						<p>生产类别：梭织服装、中低档</p>
					</div>
					<div>
						<p>工厂规模：100人以上</p>
						<p>发布日期：2018年11月11日</p>
					</div>
					<div>
						<input type="button" value="查看详情" />
						<p>广东省东莞市</p>
					</div>
				</li>
				<li>
					<div>
						<span><img src="../images/factory/factory06.jpg"/></span>
					</div>
					<div>
						<p><a href="details_plant.html" target="_self"> 世辉制衣</a> <span>快工厂</span></p><br>
						<p>订单类型：清加工/包公包料</p>
						<p>生产类别：梭织服装、中低档</p>
					</div>
					<div>
						<p>工厂规模：100人以上</p>
						<p>发布日期：2018年11月11日</p>
					</div>
					<div>
						<input type="button" value="查看详情" />
						<p>广东省东莞市</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="blog-bottom">
			<ul>
				<li><a href="#" class="active">上一页</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">...</a></li>
				<li><a href="#">14</a></li>
				<li><a href="#">15</a></li>
				<li><a href="#" class="active">下一页</a></li>
			</ul>
		</div>
	</div>
</div>


<!--end-blog-->
<div class="footer">
	<div class="container">
		<div class="footer-text">
			<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="#" >服源网</a> - Collect from </p>
		</div>
	</div>
	<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>
</body>
</html>